.header
  = render 'shared/top-header'
- breadcrumb :nocard
= render "shared/hogehoge"
.mypage
  .mypage__row
    .mypage__row__right
      .mypage__row__right__main
        .mypage__row__right__main__padding
        .mypage__row__right__main__archive__body
          .mypage__row__right__main__archive__body__content
            .mypage__row__right__main__archive__body__content__button
              = link_to "まだカードがありません",card_user_path
    .mypage__row__sidebar
      = render 'shared/side_bar'

.footer
  = render 'shared/top-footer'