.header
  .header__top
    .header__top__logo
      = link_to image_tag('logo/logo.png', height: '40px', alt: 'ロゴ'), '#'
    .header__top__search
      = form_with url: 'root' do |f|
        = f.text_field :text, placeholder: 'キーワードから探す'
        = f.submit 
        
  .header__nav
    .header__nav__left
      %ul
        %li.header__nav__left__list<
          = link_to '#' do
            カテゴリー
        %li.header__nav__left__list<
          = link_to '#' do
            ブランド
    .header__nav__right
      %ul
        %li.header__nav__right__list<
          = link_to '#' do
            ログイン
        %li.header__nav__right__list<
          = link_to '#' do
            新規会員登録
.main
  .main__top
    .main__top__title
    .main__top__text
    .main__top__button
      .main__top__button_apple
      .main__top__button_google
  .main__reasons
    .main__reasons__title
    .main__reasons__contents
      .main__reasons__contents__1
        .main__reasons__contents__1__img
        .main__reasons__contents__1__title
        .main__reasons__contents__1__text
      .main__reasons__contents__2
        .main__reasons__contents__2__img
        .main__reasons__contents__2__title
        .main__reasons__contents__2__text
      .main__reasons__contents__3
        .main__reasons__contents__3__img
        .main__reasons__contents__3__title
        .main__reasons__contents__3__text
  .main__middle
    .main__middle__title
    .main__middle__text
    .main__middle__button
      .main__middle__button__apple
      .main__middle__button__google
  .main__features
    .main__features__title
    .main__features__contentes
      .main__features__contents__1
        .main__features__contents__1__img
        .main__features__contents__1__title
        .main__features__contents__1__text
      .main__features__contents__2
        .main__features__contents__2__img
        .main__features__contents__2__title
        .main__features__contents__2__text
      .main__features__contents__3
        .main__features__contents__3__img
        .main__features__contents__3__title
        .main__features__contents__3__text
  .main__pickupcategory
    .main__pickupcategory__title
    .main__pickupcategory__new
    .main__pickupcategory__contents
      .main__pickupcategory__contents__1
        .main__pickupcategory__contents__1__img
        .main__pickupcategory__contents__1__details
          .main__pickupcategory__contents__1__details__left
            .main__pickupcategory__contents__1__details__left__name
            .main__pickupcategory__contents__1__details__left__price
            .main__pickupcategory__contents__1__details__left__tax
          .main__pickupcategory__contents__1__details__right
      .main__pickupcategory__contents__2
        .main__pickupcategory__contents__2__img
        .main__pickupcategory__contents__2__details
          .main__pickupcategory__contents__2__details__left
            .main__pickupcategory__contents__2__details__left__name
            .main__pickupcategory__contents__2__details__left__price
            .main__pickupcategory__contents__2__details__left__tax
          .main__pickupcategory__contents__2__details__right
      .main__pickupcategory__contents__3
        .main__pickupcategory__contents__3__img
        .main__pickupcategory__contents__3__details
          .main__pickupcategory__contents__3__details__left
            .main__pickupcategory__contents__3__details__left__name
            .main__pickupcategory__contents__3__details__left__price
            .main__pickupcategory__contents__3__details__left__tax
          .main__pickupcategory__contents__3__details__right
  .main__pickupbrand
    .main__pickupbrand__title
    .main__pickupbrand__archiver
    .main__pickupbrand__contents
      .main__pickupbrand__contents__1
        .main__pickupbrand__contents__1__img
        .main__pickupbrand__contents__1__details
          .main__pickupbrand__contents__1__details__left
            .main__pickupbrand__contents__1__details__left__name
            .main__pickupbrand__contents__1__details__left__price
            .main__pickupbrand__contents__1__details__left__tax
          .main__pickupbrand__contents__1__details__right
      .main__pickupbrand__contents__2
        .main__pickupbrand__contents__2__img
        .main__pickupbrand__contents__2__details
          .main__pickupbrand__contents__2__details__left
            .main__pickupbrand__contents__2__details__left__name
            .main__pickupbrand__contents__2__details__left__price
            .main__pickupbrand__contents__2__details__left__tax
          .main__pickupbrand__contents__2__details__right
      .main__pickupbrand__contents__3
        .main__pickupbrand__contents__3__img
        .main__pickupbrand__contents__3__details
          .main__pickupbrand__contents__3__details__left
            .main__pickupbrand__contents__3__details__left__name
            .main__pickupbrand__contents__3__details__left__price
            .main__pickupbrand__contents__3__details__left__tax
          .main__pickupbrand__contents__3__details__right
  .main__bottom
    .main__bottom__title
    .main__bottom__text
    .main__bottom__button
      .main__bottom__button_apple
      .main__bottom__button_google
.footer
  .footer__contents
    %li 