.header
  = render 'shared/top-header'

.itembuy-container
  .itembuy-container__main
    .itembuy-container__main__top
      %h1.itembuy-container__main__top__name
        = @item.name
      .itembuy-container__main__top__photo
        %ul
          %li
            = image_tag(@item.images.first, width: '100%', height: '100%', alt: '商品3')
            %ul
              %li
                = image_tag(@item.images.first, width: '100%', height: '50%', alt: '商品3')
              %li
                = image_tag(@item.images.first, width: '100%', height: '50%', alt: '商品3')
              %li
                = image_tag(@item.images.first, width: '100%', height: '50%', alt: '商品3')
      .itembuy-container__main__top__price
        .itembuy-container__main__top__price__font
          = "¥#{@item.price.to_s(:delimited)}円"
        .itembuy-container__main__top__price__detail
          = '(税込)送料込み'
      - if @item.user_id != current_user.id
        .itembuy-container__main__top__buy
          =link_to "#" do
            購入画面に進む
      .itembuy-container__main__top__itemDetail
        = @item.text
      .itembuy-container__main__top__table
        %table
          %tbody
            %tr
              %th
                出品者
              %td
                = @item.user.nickname
            %tr
              %th
                カテゴリー
              %td
                %a
                  = link_to '#' do
                    = @item.category.name
            %tr
              %th
                ブランド
              %td

            %tr
              %th
                商品のサイズ
              %td

            %tr
              %th
                商品の状態
              %td
                = @item.condition.condition
            %tr
              %th
                配送料の負担
              %td
                = @item.deliverycost.payer
            %tr
              %th
                発想元の地域
              %td
                %a
                  = @item.pref.name
            %tr
              %th
                発送日の目安
              %td
                = @item.delivery_days.days
      .itembuy-container__main__top__option
        %ul
          %li.itembuy-container__main__top__option__btn
            = link_to  "#"  do
              %i.fa.fa-star
              お気に入り 0
        %ul
          %li.itembuy-container__main__top__option__button
            = link_to  "#"  do
              %i.fa.fa-flag
              不適切な商品の通報
    .itembuy-container__main__comment
      = form_with do |f|
        = f.text_field :text,class:"comment__form"
        %p.comment__noticeMsg
          相手のことを考え丁寧なコメントを心がけましょう。
          %br
            不快な言葉遣いなどは利用制限や退会処分となることがあります。
        = link_to "#" do
          %button.comment__button
            %i.fa.fa-comment
            コメントする
    %ul.itembuy-container__main__links
      %li.itembuy-container__main__links__left
        %a
          =link_to "#" do
            前の商品
      %li.itembuy-container__main__links__center
        %a
          =link_to root_path(current_user) do
            トップページ
      %li.itembuy-container__main__links__right
        %a
          =link_to "#" do
            後ろの商品
    .itembuy-container__main__see
      =link_to "#" do
        = "#{@item.category.name}もっと見る"
          
      
.footer
  = render 'shared/top-footer'
